---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PerksSection from "../../components/PerksSection.astro";
import { perksEs } from "../../data/perks.es";
import StatementSection from "../../components/StatementSection.astro";
import { statementEs } from "../../data/mission.es";
import ReviewSection from '../../components/ReviewSection.astro';
import { reviewsEs } from "../../data/reviews.es";
import GallerySection from "../../components/GallerySection.astro";
import { aboutGalleryEs } from "../../data/gallery.es";


const pageTitle = "Sobre Nosotros";
---

<BaseLayout pageTitle={pageTitle} lang="es">
  <h1>Sobre Nosotros</h1>
  <p>
    Map’s Tour Buses ofrece transporte charter seguro, cómodo y confiable para grupos que
    viajan por todo Texas y México.
  </p>

  <p>
    Nos enorgullece brindar un servicio profesional, autobuses bien mantenidos y conductores
    con experiencia que conocen perfectamente las rutas y destinos de la región.
  </p>

  <p>
    En Map’s Tour Buses creemos que el viaje debe ser tan agradable como el destino.
    Esperamos ser parte de su próxima aventura.
  </p>

  <GallerySection ariaLabel="Galería de fotos" items={aboutGalleryEs} />
  <PerksSection lang="es" items={perksEs} />
  <StatementSection title={statementEs.title} text={statementEs.text} />
  <ReviewSection lang="es" items={reviewsEs}/>
</BaseLayout>